@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&family=Caveat:wght@400..700&family=Jersey+15&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Lines&display=swap");

:root {
  --font-caveat: "Caveat", cursive;
  --font-anton: "Anton", sans-serif;
  --font-jersey: "Jersey 15", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-pacifico: "Pacifico", sans-serif;
  --font-logo: "Bungee Shade", sans-serif;
  --perspective: 2000px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  color: #fff;
  background: radial-gradient(circle, rgb(12, 15, 21), rgb(7, 7, 7));
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
html {
  overflow-y: auto;
}
html::-webkit-scrollbar {
  width: 8px;
  background: #222222;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header h1,
.footer h4 {
  --animation-time: 20s;
  background: linear-gradient(to right, cyan, #f751c0, #ed41ab, #effa59);
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: clamp(2.5rem, 3.5vw + 8px, 3.5rem);
  font-weight: 400;
  letter-spacing: 4px;
  font-family: var(--font-logo);
}
.highlight {
  color: #fff;
  font-weight: 500;
}

.gradient-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

ul li {
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
ul li:hover {
  transform: translateY(-5px) scale(1.3);
}
.calendar {
  width: 90%;
}
h2 {
  height: full;
}

/* Profile Section */
.profile--img::after {
  position: absolute;
  content: "";
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 330px;
  z-index: -1;
  box-shadow: 0 0 40px 3px rgba(242, 24, 100, 0.278);
  background: linear-gradient(to bottom, rgb(237, 57, 174), rgb(246, 91, 153));
  transition: 0.3s linear;
  animation: rotateBg 8s linear infinite;
  border-radius: 30% 70% 70% 30% / 30% 43% 57% 70%;
}

@keyframes rotateBg {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* Project Section Styling */
.project--comp {
  perspective: var(--perspective);
  transition: 0.3s linear;
  transform-style: preserve-3d;
}
.project--comp:hover  img {
  border: 2px solid white;
}
.project--comp * {
  transform-style: preserve-3d;
  transition: 0.3s linear;
}
.github--link {
  background: rgb(104, 38, 245);
  position: relative;
  z-index: 444;
}

.live--link {
  background: rgb(245, 38, 145);
  position: relative;
  z-index: 444;
}

/* Footer Styling */
.footer--wrapper {
  padding: 5px 0 5px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    #a200ff,
    #22d6ee 50%,
    #f6385b,
    #ff7b00,
    transparent
  );
  animation: backgroundChanger 20s linear infinite;
  margin: 15rem 0 0;
  background-position: 400vw;
  transition: 0.3s linear;
}

@keyframes backgroundChanger {
  0% {
    background-position: 0vw;
  }

  30% {
    background-position: 100vw;
  }

  50% {
    background-position: 200vw;
  }

  75% {
    background-position: 300vw;
  }

  100% {
    background-position: 400vw;
  }
}
.footer {
  place-content: start center;
  background: linear-gradient(to right, #11111e 30%, #14080e);
  position: relative;
  z-index: 444;
}

@media (hover: hover) {
  .calendar *::-webkit-scrollbar {
    appearance: none !important;
  }

  .calendar {
    width: 70%;
  }
}

@media Screen and (width >= 700px) {
  .profile--img::after {
    width: 350px;
    height: 450px;
  }
  .project--comp:hover {
    filter: brightness(85%);
    transform: scale(0.9);
  }
  .project--comp:hover > img {
    transform: scale(0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.601));
    transform: translateZ(200px) translate(-5px, 5px) !important;
    border-radius: 10px;
  }
  .project--comp:hover *:not(img) {
    transform: translateZ(180px) translate(-5px, 5px);
  }
  .project--comp:hover h3 {
    text-shadow: 0 8px 3px rgba(18, 18, 18, 0.913);
  }
  .project--comp:hover a {
    box-shadow: 0 10px 20px 5px rgba(18, 18, 18, 0.402);
  }
}

@media Screen and (width >= 1000px) {
  .profile--img::after {
    width: 480px;
    height: 550px;
  }
}
